<div class="home-section-two">
    <section class="about_us_area">
        <div class="about-one">
            <img src="./images/neel3.jpeg" class="image-section" alt="Neel Patel" />
            <div class="content">
                <div class="card_title title-white">
                    <h2>Neel Patel</h2>
                </div>
                <h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias qui et eum minima, quo aperiam
                    fugiat eveniet, itaque provident deserunt sit voluptate nam consequatur similique!. Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Incidunt quibusdam in quae quia magnam est, cum
                    aliquid! Eius nobis nam iusto quibusdam dolorem, unde fugit. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Culpa debitis sed voluptates autem tenetur temporibus sapiente ex dicta,
                    laudantium et distinctio excepturi dolorem eveniet architecto? Lorem, ipsum dolor sit amet
                    consectetur adipisicing elit. Quis at nihil nobis sint vitae voluptatem eaque repellendus? Aliquid,
                    ratione voluptatum?
                </h4>

                <div class="contact-button-center">
                    <a href="#" class="button_all">Read More</a>
                </div>
            </div>
        </div>
        <div class="about-two">
            <img src="./images/shivam.jpg" class="image-section" alt="Shivam Parekh" />

            <div class="content">
                <div class="card_title title-white">
                    <h2>Shivam Parekh</h2>
                </div>
                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rem ex, necessitatibus, accusamus
                    voluptatibus, minus exercitationem laborum quo accusantium dignissimos itaque!. Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Accusamus quos officiis porro. Aspernatur minima excepturi
                    earum culpa ipsum vero recusandae quibusdam facilis fuga quaerat. Sunt vero similique temporibus cum
                    deserunt laboriosam? Nisi architecto maxime eius ex enim quod voluptates libero deleniti illo
                    nostrum, veritatis exercitationem totam. Aperiam distinctio voluptatem ut! Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Facilis magni aspernatur quos optio quaerat deleniti accusamus,
                    ipsa possimus ducimus laboriosam inventore. Inventore dolorum eligendi placeat.
                </h4>
                <div class="contact-button-center">
                    <a href="https://www.linkedin.com/in/shivamp09/" class="button_all">Read More</a>
                </div>
            </div>
        </div>
        <div class="about-three">
            <img src="./assets/shivam.jpg" class="image-section" alt="Samarth Joisar" />
            <div class="content">
                <div class="card_title title-white">
                    <h2>Samarth Joisar</h2>
                </div>
                <h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos obcaecati eveniet, aut veniam
                    assumenda sint nesciunt et? Adipisci, exercitationem impedit!. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Quaerat mollitia nostrum a delectus dolorum voluptatum necessitatibus
                    consectetur est. Et est facilis cupiditate amet perferendis sequi assumenda pariatur magni! Ex optio
                    modi magni mollitia, repellat harum dolorem ducimus. Culpa facere nulla ratione temporibus minus.
                    Ipsa, natus? Natus animi at voluptatem expedita? Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Veniam a quae fugit labore architecto enim cumque laboriosam est iste, vitae tempora
                    provident. Necessitatibus, asperiores ipsa!
                </h4>
                <div class="contact-button-center">
                    <a href="#" class="button_all">Read More</a>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section-two">
    <h2>Our Team</h2>
    <div class="our-team">
        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Name">Shivam Parekh</td>
                    <td data-label="Designation">Web Developer</td>
                    <td data-label="Location">Kitchener</td>
                    <td data-label="Email">shivamparekh094@gmail.com</td>
                </tr>
                <tr>
                    <td scope="row" data-label="Name">Neel Patel</td>
                    <td data-label="Designation">Full Stack Developer</td>
                    <td data-label="Location">Etobicoke</td>
                    <td data-label="Email">neelpatel@gmail.com</td>
                </tr>
                <tr>
                    <td scope="row" data-label="Name">Samarth Joisar</td>
                    <td data-label="Designation">Front End Developer</td>
                    <td data-label="Location">Kitchener</td>
                    <td data-label="Email">samarthjoisar@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
